@media only screen and (min-width: 768px) {
    #card-box {
        background-color: white;
        height: 70vh;
        padding: 1.4rem 1.25rem 1.4rem 0;
        background-image: url("./images/bg-pattern-desktop.svg");
        background-size: 90%;
        background-position: -420% 65%;
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 600px) {
    #card-box {
        background-color: white;
        max-width: 57.68rem;
        padding: 2.875rem 1.5rem;
        background-image: url("images/bg-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-position: center 0%;
        background-size: 15rem;
    } 
}

.question-box h3 {
    font-size: 14px;
    color: hsl(240, 6%, 50%);
}

.question-box p {
    font-size: 12px;
    color: hsl(240, 6%, 50%);
}
